* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px 20px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #dc143c;
    margin: 10px 10px ;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: #dc143c;
}
header nav {
    margin: 7px 0;
    text-decoration: underline;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: #dc143c;
    color: white;
    border-radius: 15px;
    text-shadow: none;
}    
footer {
    background: lightgray;
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}
footer h2 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 8%;
    font-size: 40px;
}
footer h2 .me {
    display: block;
}
footer .verticle-line-3 {
    border-left: 3px solid black;
    height: 50px;
    position: absolute;
    left: 26.7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5%;
}
footer nav {
    margin: 7px 0;
    text-decoration: underline;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px; 
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cement-floor-wall-backgrounds-room-interior-display-products_34552-317.webp);
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    font-size: large;
}
.intro {
    padding: 20px 35px;
    background: lightgray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.intro h2 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 10%;
    bottom: 275px;
    font-size: 40px;
}
.intro h2 .me {
    display: block;
}
.verticle-line-2 {
        border-left: 3px solid black;
        height: 100px;
        position: absolute;
        left: 26.7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -5%;
    }
.intro p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    position: relative;
    bottom: -50px;
}
.Gunnar-work {
    background-color: lightgray;
}
.Gunnar-work h2 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 10%;
    bottom: 150px;
    font-size: 40px;
}
.verticle-line {
    border-left: 3px solid black;
    height: 640px;
    position: absolute;
    bottom: -450px;
    left: 26.7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5%;
}
.grid-container {
   --num-cols: 2;
   --row-height: 300px;
    padding: var(--gap);

    display: grid;
    position: relative;
    grid-template-areas: right;
    grid-template-areas: center;
    margin-left: 30%;
    bottom: -150px;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    grid-template-areas: "header header"
}
.surf {
    grid-area: header;
    --row-height:500px;
}

.grid-container img {
    width: 60%;
    height: 40%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
     .grid-container {
         --num-cols: 1;
         --row-height: 200px;
     }
}

.surf-report {
    position: relative;
}
